<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEEPGRAM_API_KEY</key>
	<string>YOUR_DEEPGRAM_KEY</string>
	<key>ANTHROPIC_API_KEY</key>
	<string>YOUR_ANTHROPIC_KEY</string>
	<key>OPENAI_API_KEY</key>
	<string>YOUR_OPENAI_KEY</string>
	<key>SUPABASE_URL</key>
	<string>YOUR_SUPABASE_URL</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>YOUR_SUPABASE_ANON_KEY</string>
</dict>
</plist>
